<div class="faq-page">
  <h1 style="text-align: center; color:#f5c518;">FAQ</h1>

  <h3 style="color: #f5c518">Step 1</h3>
  <p>Start by entering information about your theater before accessing the search bar</p>
  <hr class="separator">
  <h3 style="color: #f5c518;">Step 2</h3>
  <p>After selecting a movie from results, some information about the movie appears at the center of the screen.</p>
  <p>On the left, select the hall where you want your movie to be presented.</p>
  <p>Select the time.</p>
  <p>Finally, a validation button appears to add your movie to the database.</p>
  <hr class="separator">
  <h3 style="color: #f5c518">Step 3</h3>
  <p>After a movie is added, dashboard button is now available to go see your data in a table.</p>
  <hr class="separator">
  <button class="btn submit-btn" [routerLink]="['/search']">Return to main page</button>

</div>

